.view {
	margin-top: 20px;
	align-self: flex-end;
	&__link {
		font-size: 14px;
		font-weight: 600;
		padding: 4px 9px;
		border-radius: 3px;
		text-decoration: underline;
		text-decoration-style: dashed;
		text-underline-position: under;
		font-style: italic;
	}
}
