@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	position: fixed;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	@include flex;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
	z-index: 2;

	&__show {
		opacity: 1;
		pointer-events: visible;
	}
	&__content {
		width: 40%;
		border-radius: 20px;
		background-color: white;
		@media (max-width: 900px) {
			width: 80%;
		}
		@media (max-width: 450px) {
			width: 90%;
		}
		background-color: white;

		.modal__header {
			@include flex;
			padding: 10px 20px;
			font-weight: bold;
			font-size: 25px;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		.modal__body {
			@include flex;
			flex-wrap: wrap;
			padding: 15px;
			@media (max-width: 375px) {
				padding: 15px 0;
			}
			@media (max-height: 350px) {
				padding: 10px 0;
			}
			& > * {
				flex: 1 0 21%;
				max-width: 130px;
				padding: 5px;
				margin: 5px;
				@media (max-width: 375px) {
					padding: 2px;
					margin: 5px 0;
				}
				@media (max-height: 350px) {
					padding: 2px 0 0 0;
					margin: 0;
				}
				@include flex;
				flex-direction: column;
				cursor: pointer;
			}
			.modal__color {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				@include flex;
				.modal__selected {
					display: none;
					justify-content: center;
					align-items: center;
				}
			}
			.modal__name {
				font-size: 16px;
			}
		}
	}

	&__close {
		position: absolute;
		margin: 10px;
		margin-top: 15px;
		@include flex;
		cursor: pointer;
		background: transparent;
		border: none;
		outline: none;
		&:hover {
			transform: rotate(180deg);
			transition: all 0.4s ease-in-out;
		}
		&:focus {
			transform: scale(1.1);
			transition: all 0.3s ease-in-out;
		}
	}

	&__apply {
		@include flex;
	}

	.enter-done {
		.model__content {
			transform: translate(0);
		}
	}
	.exit {
		.model__content {
			transform: translate(-200px);
		}
	}
}
