.footer{
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
    
    @keyframes pulse {
  0% {
    font-size: 16px;
  }
  70% {
    font-size: 16.5px;
}
  100% {
      font-size: 17px;
  }
}
}