.header__menu {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  margin-right: 20px;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-weight: 500;
  margin: 20px;
  transition: all 0.4s ease;
  .header__nav {
    padding: 10px 20px;
    margin-top: 0;
    font-size: 16px;
  }
}

#stickyHeader {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  transition: all 0.5s;
}
.header {
  display: flex;
  justify-content: space-between;
  transition: flex-direction 0.4s ease-in;
  @media (max-width: 450px) {
    width: auto;
  }

  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-top: 1px;
    text-align: center;
    float: left;
    @media (max-width: 800px) {
      margin-left: 25px;
      font-size: 30px;
    }
  }
}
.header__mobile {
  display: block;
}

.header__menu_hamburger {
  display: flex;
  flex-direction: column;

  .hamburger {
    float: right;
    margin-top: 13px;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: all 0.2s ease-in;
    }
  }
  .header__menu_mobile {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 30px;
    .header__nav {
      margin: 0;
      display: block;
      font-weight: 500;
      padding: 10px 20px;
      font-size: 16px;
    }
    // border-bottom: 1px solid #d9dbdf;
  }
  .header__hamLogo {
    transition: all 0.3s ease-in-out;
  }
}
