@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill {
  @include flex;
  flex-direction: column;
  margin: 30px 35px 0 35px;
  flex-direction: row;
  @media (max-width: 800px) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 0 15px 0 15px;
  }
  &__left {
    flex: 1 1;
    & > * {
      max-width: 100%;
      height: auto;
    }
  }

  &__right {
    flex: 1 1;
    @include flex;
    flex-direction: column;

    h5 {
      font-size: 45px;
      font-weight: 500;
      @media (max-width: 900px) {
        font-size: 40px;
      }
    }
    .skill__container {
      @include flex;
      flex-direction: row;
      flex-wrap: wrap;
      & > * {
        margin: 10px 17px 5px 15px;
        @media (max-width: 380px) {
          margin: 10px 10px 5px 15px;
        }
      }
      @media (min-width: 1200px) {
        width: 65%;
      }
      @media (min-width: 1200px) {
        width: 75%;
      }
    }

    .skill__logos {
      @include flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 80px;
      cursor: pointer;

      .skill__logo {
        &:hover {
          transform: scale(1.1);
          transition: all 0.2s ease-in-out;
        }
      }
      small {
        font-weight: 600;
      }
    }
  }
}
